/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 2, 2018, 8:16:20 PM
    Author     : Marce
*/



background {
    color: lightblue;
}

h1{
    color: red;
}

